<div class="limiter">
  <div class="container-login100">
    <form class="login100-form">

      <img src="assets/images/pages/Error_C.png" class="error-header" alt="">

      <span class="error-subheader2 p-t-30">
        Problème connexion internet .
      </span>
      <div class="container-login100-form-btn p-t-30	">
        <button mat-flat-button color="primary" class="login100-form-btn" (click)='submit()'>
          retour vers page d'authentification
        </button>
      </div>

    </form>

  </div>
</div>