<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>

        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Entrez vos informations personnelles</h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="userGroupeForm">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="Name" formControlName="name">
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput formControlName="description"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Affectation des Préferences</h2>
                    </div>
                    <div class="body">
                        <form *ngIf="user" [formGroup]="userForm">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Select me</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Select me</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>