<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
   

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>Listes des Utilisateurs </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">rechercher</i></label>
                        <input placeholder="rechercher" type="text" #filter class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="ADD">
                          <button mat-mini-fab color="primary" >
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="REFRESH">
                          <button mat-mini-fab color="primary" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                          <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                            <mat-icon class="col-white">delete
                            </mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
              
                </div>
              </div>
              <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                #exporter="matTableExporter">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <!-- ID Column -->
              
                <ng-container matColumnDef="id">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'"> ID
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6"> <img
                      [src]="row.img" />
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-6'">Type
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.loginName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.lName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="regionName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Region Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.lName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Status
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.lName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="address">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Address
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.lName}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="zipCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Zip Code
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.firstName}}</mat-cell>
                </ng-container>
           
                <ng-container matColumnDef="country">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Country 
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-8'">
                    {{row.firstName}}</mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>
                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </mat-table>
              <!-- Loading spinner -->
              <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <!-- context menu start -->
              <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
              </div>
              <mat-menu #contextMenu="matMenu">
                <ng-template matMenuContent let-item="item">
                  <button mat-menu-item (click)="addNew()">
                    <mat-icon>add_box</mat-icon>
                    <span>Add Record</span>
                  </button>
                  <button mat-menu-item (click)="editCall(item)">
                    <mat-icon>create</mat-icon>
                    <span>Edit Record</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(item)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Record</span>
                  </button>
                  <button mat-menu-item (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh Record</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>no_encryption</mat-icon>
                    <span>Disable</span>
                  </button>
                  <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                    <mat-icon>list_alt</mat-icon>
                    <span> Nested Menu</span>
                  </button>
                </ng-template>
              </mat-menu>
              <mat-menu #nestedmenu="matMenu">
                <button mat-menu-item>
                  <mat-icon>mail_outline</mat-icon>
                  <span>Item 1</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>call</mat-icon>
                  <span>Item 2</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>chat</mat-icon>
                  <span>Item 3</span>
                </button>
              </mat-menu>
              <!-- context menu end -->

              <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                Aucun utilisateur trouvé 
              </div>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="content">
    <div class="container-fluid">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
<div >
    <div class="card">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon msr-2">face</mat-icon>
            LOCATION DETAILS
          </ng-template>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="project_widget">
              <div class="header">
                <h2><strong>About</strong></h2>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-md-3 col-6 b-r">
                    <strong>Full Name</strong>
                    <br>
                    <p class="text-muted">Emily Smith</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Mobile</strong>
                    <br>
                    <p class="text-muted">(123) 456 7890</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted">johndeo@example.com</p>
                  </div>
                  <div class="col-md-3 col-6">
                    <strong>Location</strong>
                    <br>
                    <p class="text-muted">India</p>
                  </div>
                </div>
                <p class="m-t-30">Completed my graduation in Arts from the well known and
                  renowned institution
                  of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was
                  affiliated
                  to M.S. University. I ranker in University exams from the same
                  university
                  from 1996-01.</p>
                <p>Worked as Professor and Head of the department at Sarda Collage, Rajkot,
                  Gujarat
                  from 2003-2015 </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when
                  an unknown printer took a galley of type and scrambled it to make a
                  type
                  specimen book. It has survived not only five centuries, but also the
                  leap
                  into electronic typesetting, remaining essentially unchanged.</p>
                <br>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="project_widget">
              <div class="header">
                <h2><strong>Education</strong></h2>
              </div>
              <div class="body">
                <ul>
                  <li>B.A.,Gujarat University, Ahmedabad,India.</li>
                  <li>M.A.,Gujarat University, Ahmedabad, India.</li>
                  <li>P.H.D., Shaurashtra University, Rajkot</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="project_widget">
              <div class="header">
                <h2><strong>Experience</strong></h2>
              </div>
              <div class="body">
                <ul>
                  <li>One year experience as Jr. Professor from April-2009 to march-2010
                    at B.
                    J. Arts College, Ahmedabad.</li>
                  <li>Three year experience as Jr. Professor at V.S. Arts &amp; Commerse
                    Collage
                    from April - 2008 to April - 2011.</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="project_widget">
              <div class="header">
                <h2><strong>Conferences, Cources &amp; Workshop Attended</strong></h2>
              </div>
              <div class="body">
                <ul>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
            EQUIPEMENT IN POS
          </ng-template>
          <div class="header">
            <h2>
              <strong>Security</strong> Settings</h2>
          </div>
          <div class="body">
            <div class="example-container">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Current Password</mat-label>
                <input matInput type="password">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput type="password">
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Save</button>
          </div>
          <div class="header">
            <h2>
              <strong>Account</strong> Settings</h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Address</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <mat-checkbox class="example-margin">Profile Visibility For Everyone
                  </mat-checkbox>
                </div>
                <div class="form-group">
                  <mat-checkbox class="example-margin">New task notifications
                  </mat-checkbox>
                </div>
                <div class="form-group">
                  <mat-checkbox class="example-margin">New friend request notifications
                  </mat-checkbox>
                </div>
              </div>
              <div class="col-md-12">
                <button mat-raised-button color="primary">Save Changes</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
              EXTENDED ATTRIBUTES
            </ng-template>
            <div class="header">
              <h2>
                <strong>Security</strong> Settings</h2>
            </div>
            <div class="body">
              <div class="example-container">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Current Password</mat-label>
                  <input matInput type="password">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>New Password</mat-label>
                  <input matInput type="password">
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary">Save</button>
            </div>
            <div class="header">
              <h2>
                <strong>Account</strong> Settings</h2>
            </div>
            <div class="body">
              <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>First Name</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Last Name</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>City</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Country</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Address</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-checkbox class="example-margin">Profile Visibility For Everyone
                    </mat-checkbox>
                  </div>
                  <div class="form-group">
                    <mat-checkbox class="example-margin">New task notifications
                    </mat-checkbox>
                  </div>
                  <div class="form-group">
                    <mat-checkbox class="example-margin">New friend request notifications
                    </mat-checkbox>
                  </div>
                </div>
                <div class="col-md-12">
                  <button mat-raised-button color="primary">Save Changes</button>
                </div>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
    </div>
  </div>
    </div>
</section> -->