<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">

            <div>
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                                Informations générales
                            </ng-template>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Informations du groupe</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>
                                                    Nom du groupe</strong>
                                                <br>
                                                <p class="text-muted">Emily Smith</p>
                                            </div>

                                            <div class="col-md-3 col-6 b-r">
                                                <strong>
                                                    Statut</strong>
                                                <br>
                                                <p class="text-muted">Emily Smith</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>
                                                    Description</strong>
                                                <br>
                                                <p class="text-muted">Emily Smith</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                                Préferences
                            </ng-template>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Informations sur préferences</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-1 col-12 b-r">
                                                <strong>Full Name :</strong>
                                            </div>

                                            <div class="col-md-3 col-6">
                                                <strong>Mobile</strong>
                                            </div>

                                            <div class="col-md-1 col-6 b-r">
                                                <strong>Email :</strong>
                                            </div>

                                            <div class="col-md-3 col-6">
                                                <strong>Location</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                                Habilitations
                            </ng-template>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>About</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-1 col-12 b-r">
                                                <strong>Nom Habilitation :</strong>
                                            </div>

                                            <div class="col-md-3 col-6">
                                                <strong>Mobile</strong>
                                            </div>

                                            <div class="col-md-1 col-6 b-r">
                                                <strong>Description :</strong>
                                            </div>

                                            <div class="col-md-3 col-6">
                                                <strong>Location</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                                Membres du groupe
                            </ng-template>
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="card">

                                        <div class="body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header l-bg-purple-dark">
                                                                    <div class="user-name">Pooja Patel</div>
                                                                    <div class="name-center">General Manager</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig1.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    A-103, shyam gokul flats, Mahatma Road
                                                                    <br />Mumbai
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-cyan">
                                                                    <div class="user-name">Smita Patil</div>
                                                                    <div class="name-center">Housekeeper</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig2.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    45, Krishna Tower, Near Bus Stop, Satellite,
                                                                    <br />Ahmedabad
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-dark">
                                                                    <div class="user-name">John Smith</div>
                                                                    <div class="name-center">Cook</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig3.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    456, Estern evenue, Courtage area,
                                                                    <br />New York
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header l-bg-orange">
                                                                    <div class="user-name">Pooja Patel</div>
                                                                    <div class="name-center">General Manager</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig4.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    A-103, shyam gokul flats, Mahatma Road
                                                                    <br />Mumbai
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-green">
                                                                    <div class="user-name">Smita Patil</div>
                                                                    <div class="name-center">Housekeeper</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig5.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    45, Krishna Tower, Near Bus Stop, Satellite,
                                                                    <br />Ahmedabad
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header l-bg-red">
                                                                    <div class="user-name">John Smith</div>
                                                                    <div class="name-center">Cook</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig6.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    456, Estern evenue, Courtage area,
                                                                    <br />New York
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-indigo">
                                                                    <div class="user-name">Pooja Patel</div>
                                                                    <div class="name-center">General Manager</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig7.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    A-103, shyam gokul flats, Mahatma Road
                                                                    <br />Mumbai
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-brown">
                                                                    <div class="user-name">Smita Patil</div>
                                                                    <div class="name-center">Housekeeper</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig8.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    45, Krishna Tower, Near Bus Stop, Satellite,
                                                                    <br />Ahmedabad
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-amber">
                                                                    <div class="user-name">John Smith</div>
                                                                    <div class="name-center">Cook</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig9.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    456, Estern evenue, Courtage area,
                                                                    <br />New York
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header l-bg-purple-dark">
                                                                    <div class="user-name">Pooja Patel</div>
                                                                    <div class="name-center">General Manager</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig1.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    A-103, shyam gokul flats, Mahatma Road
                                                                    <br />Mumbai
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-cyan">
                                                                    <div class="user-name">Smita Patil</div>
                                                                    <div class="name-center">Housekeeper</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig2.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    45, Krishna Tower, Near Bus Stop, Satellite,
                                                                    <br />Ahmedabad
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card border-apply">
                                                        <div class="m-b-20">
                                                            <div class="contact-grid">
                                                                <div class="profile-header bg-dark">
                                                                    <div class="user-name">John Smith</div>
                                                                    <div class="name-center">Cook</div>
                                                                </div>
                                                                <img src="assets/images/user/usrbig3.jpg"
                                                                    class="user-img" alt="">
                                                                <p>
                                                                    456, Estern evenue, Courtage area,
                                                                    <br />New York
                                                                </p>
                                                                <div>
                                                                    <span class="phone">
                                                                        <i
                                                                            class="material-icons">phone</i>264-625-2583</span>
                                                                </div>
                                                                <div class="profile-userbuttons">
                                                                    <button mat-flat-button color="primary">Read
                                                                        More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>About</strong></h2>
                                    </div>
                                    <div class="body">

                                        <div class="col-md-3 col-6 b-r">
                                            <strong>Login Name :<p class="text-muted">Emily Smith</p></strong>


                                        </div>

                                        <div class="col-md-3 col-6 b-r">
                                            <strong>Pseudo</strong>
                                            <br>
                                            <p class="text-muted">Pseudo :</p>
                                        </div>
                                        <div class="col-md-3 col-6 b-r">
                                            <strong>Email :</strong>
                                            <br>
                                            <p class="text-muted">johndeo@example.com</p>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <strong>First Name :</strong>
                                            <br>
                                            <p class="text-muted">India</p>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <strong>Last Name :</strong>
                                            <br>
                                            <p class="text-muted">India</p>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <strong>Real Name :</strong>
                                            <br>
                                            <p class="text-muted">India</p>
                                        </div>


                                        <br>
                                    </div>
                                </div>
                            </div> -->

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>