<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Entrez vos informations personnelles</h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="userForm">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput formControlName="firstName">
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="userForm.get('firstName').hasError('required')">
                                            First Name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="lastName">
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="userForm.get('lastName').hasError('required')">
                                            Last Name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" required>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error
                                            *ngIf="userForm.get('email').hasError('required') || userForm.get('email').touched">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-label>Status</mat-label>
              <mat-form-field class="example-full-width">
                <mat-select [formControl]="status" formControlName="status" required>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="status.hasError('required')">Please choose status
                </mat-error>
              </mat-form-field>
            </div> -->
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Real Name</mat-label>
                                        <input matInput formControlName="realName" required>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error *ngIf="userForm.get('realName').hasError('required')">
                                            Please enter a Real name
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <div>
                                        <form [formGroup]="fileUploadForm">
                                            <div class="row">
                                                <div>
                                                    <app-file-upload formControlName="singleUpload"></app-file-upload>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <!-- <div>
            <button mat-raised-button  color="primary"
              [disabled]="disableInfoPersonnell()">Suivant </button>
          </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Informations de compte</h2>
                    </div>
                    <div class="body">
                        <form *ngIf="user" [formGroup]="userForm">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Login </mat-label>
                                        <input matInput formControlName="loginName">
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="userForm.get('loginName').hasError('required')">
                                            Login is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Pseudo</mat-label>
                                        <input matInput formControlName="pseudo">
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="userForm.get('pseudo').hasError('required')">
                                            Psuedo is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Paramétrages</h2>
                    </div>
                    <h4 class="align-center m-t-10">Affectation groupes</h4>
                    <div class="body">
                        <form [formGroup]="userForm">
                            <p-pickList [source]="sourceProducts" [target]="targetProducts"
                                sourceHeader="Available Groupes" targetHeader="Selected Groupes" dragdrop="true"
                                [responsive]="true" [sourceStyle]="{'height':'300px'}"
                                [targetStyle]="{'height':'300px'}" filterBy="name"
                                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-list-detail">
                                            <h5 class="mb-2">{{product.name}}</h5>
                                            <i class="pi pi-tag product-category-icon"></i>
                                        </div>

                                    </div>
                                </ng-template>
                            </p-pickList>
                        </form>


                    </div>
                    <h4 class="align-center m-t-10">Attribution Habilitations </h4>
                    <div class="body">
                        <form [formGroup]="userForm">
                            <p-pickList [source]="sourceProducts" [target]="targetProducts"
                                sourceHeader="Available Habilitations" targetHeader="Selected Habilitations"
                                dragdrop="true" [responsive]="true" [sourceStyle]="{'height':'300px'}"
                                [targetStyle]="{'height':'300px'}" filterBy="name"
                                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-list-detail">
                                            <h5 class="mb-2">{{product.name}}</h5>
                                            <i class="pi pi-tag product-category-icon"></i>
                                        </div>

                                    </div>
                                </ng-template>
                            </p-pickList>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>